<div class="ad-my-8">
  {{#docs-snippet name="my-snippet-src.hbs"}}
    // BEGIN-SNIPPET my-snippet.js
    App = Ember.Application.extend({
      modulePrefix: config.modulePrefix,
      podModulePrefix: config.podModulePrefix,
      Resolver
    });
    // END-SNIPPET
  {{/docs-snippet}}
</div>
