.docs-navbar {
  background-color: #222;
  color: white;

  &__inner {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-end;
  }

  &__link {
    color: white;
    text-decoration: none;
    opacity: 0.7;
    transition: all .10s ease-in;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &--right {
      margin-left: auto;
    }
  }

  &__logo {
    line-height: 0;
  }
  &__logo-trademark {
    display: inline-block;
    width: 60px;
  }
}
