<div class='docs-navbar__inner docs-container'>
  {{#link-to 'docs' class='docs-navbar__link'}}
    Documentation
  {{/link-to}}

  <a href={{githubUrl}} class='docs-navbar__link docs-navbar__link--right'>GitHub</a>
</div>
