<h1 class='docs-h1' data-test-class-name>{{class.name}}</h1>

{{! wrapping in a div seems to work around https://github.com/ember-learn/ember-cli-addon-docs/issues/7 }}
<div data-test-class-description>{{{class.description}}}</div>

{{#if hasContents}}
  <div class="flex flex-row-reverse">
    {{api/x-index
      options=(hash
        inherited=inherited
        protected=protected
        private=private
        deprecated=deprecated
      )

      onOptionToggle=(action 'updateFilter')

      sections=(hash
        constructors=constructors
        fields=fields
        accessors=accessors
        methods=methods
      )
    }}

    {{api/x-sections
      sections=(hash
        constructors=class.constructors
        fields=class.fields
        accessors=class.accessors
        methods=class.methods
      )
    }}
  </div>
{{/if}}
