<h1 class='docs-h1' data-test-class-name>{{class.name}}</h1>

{{! wrapping in a div seems to work around https://github.com/ember-learn/ember-cli-addon-docs/issues/7 }}
<div data-test-class-description>{{{class.description}}}</div>

{{#if hasContents}}
  {{#if hasToggles}}
    {{api/x-toggles
      toggles=(hash
        inherited=(if component.hasInherited showInherited)
        protected=(if component.hasProtected showProtected)
        private=(if component.hasPrivate showPrivate)
        deprecated=(if component.hasDeprecated showDeprecated)
      )
    }}
  {{/if}}

  {{api/x-sections
    sections=(hash
      constructors=class.constructors
      fields=class.fields
      accessors=class.accessors
      methods=class.methods
    )
  }}
{{/if}}
