{{! BEGIN-SNIPPET live-example-src }}
{{#docs-demo as |demo|}}
  {{#demo.live-example name='live-example'}}
    <p>The air up here is {{foo}}</p>

    {{input value=foo}}
  {{/demo.live-example}}
{{/docs-demo}}
{{! END-SNIPPET }}
