{{! BEGIN-SNIPPET live-example-src.hbs }}
{{#docs-demo as |demo|}}
  {{#demo.liveExample name='live-example.hbs'}}
    <p>The air up here is {{foo}}</p>

    {{input valeue=foo}}
  {{/demo.liveExample}}
{{/docs-demo}}
{{! END-SNIPPET }}
