<div style="max-width: 800px; margin: 3rem auto;">
  <h1>AddonDocs' markdown compiler</h1>

  <p>Here's some markdown, compiled using AddonDocs' markdown compiler & syntax highlighting:</p>

  {{htmlBody}}
</div>
