/* BEGIN-SNIPPET docs-logo-ember-data-styles.css */
.my-ember-data-addon-logo {
  background: #2196F3;
  color: white;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding: 20px;
}
/* END-SNIPPET */
