<h1>API Reference</h1>

{{#each model.classes as |class|}}
  <h2>{{class.name}}</h2>

  {{! wrapping in a div seems to work around https://github.com/ember-learn/ember-cli-addon-docs/issues/7 }}
  <div>{{{class.description}}}</div>
{{/each}}
