.docs-viewer__nav {
  background-color: #fafafa;
  width: 320px;
  border-right: 2px solid rgba(0,0,0,.07);
  font-size: 15px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &-header {
    text-align: center;
    padding: 30px 20px 10px;
    border-bottom: 1px solid #eee;
  }

  &-header-project-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition:  0.15s;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 7px;
  }

  &-header-project-logo {
    height: 16px;
    display: block;
    margin-bottom: 4px;
  }

  &-header-links {
    margin-bottom: 30px;
    display: block;
    display: flex;
    justify-content: center;
  }

  &-header-link {
    text-decoration: none;
    opacity: 0.4;
    color: inherit;
    display: flex;
    align-items: center;

    &:hover {
      opacity: 1;
    }
  }

  &-list-wrapper {
    padding: 20px 0;
    overflow: scroll;
  }

  &-footer {
    padding: 14px;
    text-align: center;
    box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.1);
  }

  &-footer-link {
    opacity: 0.25;
    color: inherit;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }

  &-footer-powered-by {
    font-size: 11px;
    margin-top: 6px;
    margin-bottom: 0;
    color: #bbb;
    font-weight: 500;
  }

  &-footer-powered-by-link {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.15s;

    &:hover {
      color: #444;
    }
  }
}
