<span class="hljs-keyword">import</span>

{{#if (eq item.exportType "default")}}
  {{item.name}}
{{else}}
 { {{item.name}} }
{{/if}}

<span class="hljs-keyword">from</span>
<span class="hljs-string">'{{item.file}}'</span>;
