<DocsDemo as |demo|>
  <demo.example @name="docs-logo-ember-cli.hbs">
    <div class="my-ember-cli-addon-logo">
      {{docs-logo logo="ember-cli"}}
    </div>
  </demo.example>

  <demo.snippet @name="docs-logo-ember-cli.hbs" />
  <demo.snippet @name="docs-logo-ember-cli-styles.scss" />
</DocsDemo>