<li class='docs-mt-2 docs-mb-1 docs-flex docs-items-center docs-text-sm'>
  {{#if model}}
    {{#link-to route model
      class='docs-text-grey-darkest docs-no-underline hover:docs-underline'
      activeClass='docs-font-bold'
      data-test-id='nav-item'
      data-test-label=label}}
      {{label}}
    {{/link-to}}
  {{else}}
    {{#link-to route
      class='docs-text-grey-darkest docs-no-underline hover:docs-underline'
      activeClass='docs-font-bold'
      data-test-id='nav-item'
      data-test-label=label}}
      {{label}}
    {{/link-to}}
  {{/if}}
</li>
