<li class='ad-mt-2 ad-mb-1 ad-flex ad-items-center ad-text-sm'>
  {{#if model}}
    {{#link-to route model
      class='ad-text-grey-darkest ad-no-underline hover:ad-underline'
      activeClass='ad-font-bold'
      data-test-id='nav-item'
      data-test-label=label}}
      {{label}}
    {{/link-to}}
  {{else}}
    {{#link-to route
      class='ad-text-grey-darkest ad-no-underline hover:ad-underline'
      activeClass='ad-font-bold'
      data-test-id='nav-item'
      data-test-label=label}}
      {{label}}
    {{/link-to}}
  {{/if}}
</li>
