{{#link-to
  params=linkArgs
  class="ecad__search-result__link"
}}
  <h4 class="ecad__search-result__title">
    {{result.document.title}}
  </h4>
  <p class='ecad__search-result__text'>
    {{{matches}}}
  </p>
{{/link-to}}
