<div class='ad-font-sans ad-text-black ad-leading-normal'>
  {{!-- <div class='bg-red-light text-white py-2 text-sm font-bold shadow-inner'>
    <div class="docs-container">
      WARNING: AddonDocs is currently unstable. Check back soon for updates.
    </div>
  </div> --}}

  {{#docs-header as |header|}}
    {{#header.link 'sandbox'}}
      Sandbox
    {{/header.link}}
  {{/docs-header}}

  {{! BEGIN-SNIPPET docs-demo-application-template.hbs }}
  {{outlet}}

  {{docs-keyboard-shortcuts}}
  {{! END-SNIPPET }}
</div>
