{{!-- <div class='WarningBanner'>
  <div class="docs-container bg-red">
    WARNING: AddonDocs is currently unstable. Check back soon for updates.
  </div>
</div> --}}

{{! BEGIN-SNIPPET docs-demo-application-template.hbs }}
{{outlet}}

{{docs-keyboard-shortcuts}}
{{! END-SNIPPET }}
