.item-section {
  margin-bottom: 3em;

  h3 {
    margin-top: 1.3em;
    position: relative;

    font-family: Monaco, monospace;
    font-size: 1.1em;
    font-weight: normal;

    strong {
      font-weight: bold;
    }
  }
}

.item-section__item-header {
  a {
    color: #333;
    text-decoration: none;
  }
}

.item-section__class-header {
  .item-section__default-label {
    line-height: 1.4em;
    vertical-align: text-top;
  }

  a {
    color: #333;
    font-size: 1.4em;

    &:visited {
      color: #999;
    }

    &:before {
      content: ''
    }
  }
}

.item-section__default-label {
  color: #fff;
  background-color: #777;

  padding: 2px 4px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  font-size: 0.8em;
  text-transform: uppercase;
}
