$bp: 1000px;

.docs-viewer__main {
  flex: 1;
  overflow: scroll;

  @media (min-width: $bp) {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.docs-viewer__page-nav {
  @media (max-width: $bp - 1) {
    display: none;
  }
  text-decoration: none;
  position: absolute;
  top: 0px;
  bottom: 0;
  margin: 0;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
  color: #ccc;
  text-align: center;
  transition: all 0.15s;
  margin-left: -90px;

  svg * {
    transition: all 0.15s;
    fill: #ccc;
  }

  &:hover {
    text-decoration: none;
    color: #444;

    svg * {
      fill: #444;
    }
  }

  &--next {
    right: 0;
  }
}
.docs-viewer__prev-page {
}
