$bp: 1000px;

.docs-viewer {
  &__main {
    flex: 1;
    overflow: scroll;

    @media (min-width: $bp) {
      padding-left: 90px;
      padding-right: 90px;
    }
  }

  &__page-header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    // text-align: right;
  }
  &__page-header-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    opacity: 0.4;
    transition: opacity 0.15s;
    font-size: 13px;

    &:hover {
      opacity: 1;
    }
  }
  &__page-header-link-icon {
    margin-right: 3px;
    font-size: 85%;
  }

  &__page-nav {
    @media (max-width: $bp - 1) {
      display: none;
    }
    text-decoration: none;
    position: absolute;
    top: 0px;
    bottom: 0;
    margin: 0;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    color: #ccc;
    text-align: center;
    transition: all 0.15s;
    margin-left: -90px;

    svg * {
      transition: all 0.15s;
      fill: #ccc;
    }

    &:hover {
      text-decoration: none;
      color: #444;

      svg * {
        fill: #444;
      }
    }

    &--next {
      right: 0;
    }
  }
}
