<div class="lg:ad-px-4" data-page-index-target>
  {{yield}}

  <div class="ad-mt-16 ad-mb-8">
    <a href={{editCurrentPageUrl}}
      class='ad-transition ad-text-grey-darkest ad-opacity-50 ad-text-sm
      hover:ad-opacity-75 ad-no-underline ad-border-b ad-border-grey hover:ad-border-grey-darkest'>
      Edit this page
    </a>
  </div>

</div>

<div class="lg:ad-px-4">
  <div class="ad-mt-16 ad-pb-16 ad-border-t ad-border-grey-lighter ad-pt-4 ad-flex">
    <div class="ad-w-1/2">
      {{#if docsRoutes.previous}}
        <div class='ad-text-sm ad-text-grey-dark'>
          Previous
        </div>
        {{#link-to params=docsRoutes.previous.route
          class='ad-text-grey-darkest ad-text-2xl ad-font-light ad-no-underline
          ad-border-b ad-border-grey hover:ad-border-grey-darkest ad-transition'}}
          {{docsRoutes.previous.label}}
        {{/link-to}}
      {{/if}}
    </div>

    <div class="ad-w-1/2 ad-text-right">
      {{#if docsRoutes.next}}
        <div class='ad-text-sm ad-text-grey-dark'>
          Next
        </div>
        {{#link-to params=docsRoutes.next.route
          class='ad-text-grey-darkest ad-text-2xl ad-font-light ad-no-underline
          ad-border-b ad-border-grey hover:ad-border-grey-darkest ad-transition'}}
          {{docsRoutes.next.label}}
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
