<div data-current-page-index-target>
  {{yield}}

  {{#if editCurrentPageUrl}}
    <div class="docs-mt-16 docs-mb-8" data-test-edit-page-link>
      <a href={{editCurrentPageUrl}}
        class="docs-transition docs-text-grey-darkest docs-opacity-50 docs-text-xs
        hover:docs-opacity-75 docs-no-underline docs-border-b docs-border-grey hover:docs-border-grey-darkest">
        Edit this page
      </a>
    </div>
  {{/if}}
</div>

<div class="docs-mt-16 docs-pb-16 docs-border-t docs-border-grey-lighter docs-pt-4 docs-flex">
  <div class="docs-w-1/2">
    {{#if docsRoutes.previous}}
      <div class="docs-text-xs docs-text-grey-dark">
        Previous
      </div>
      {{#link-to params=docsRoutes.previous.route
        class="docs-text-grey-darkest docs-text-large-4 docs-font-light docs-no-underline
        docs-border-b docs-border-grey hover:docs-border-grey-darkest docs-transition"}}
        {{docsRoutes.previous.label}}
      {{/link-to}}
    {{/if}}
  </div>

  <div class="docs-w-1/2 docs-text-right" data-test-next-link>
    {{#if docsRoutes.next}}
      <div class="docs-text-xs docs-text-grey-dark">
        Next
      </div>
      {{#link-to params=docsRoutes.next.route
        class="docs-text-grey-darkest docs-text-large-4 docs-font-light docs-no-underline
        docs-border-b docs-border-grey hover:docs-border-grey-darkest docs-transition"}}
        {{docsRoutes.next.label}}
      {{/link-to}}
    {{/if}}
  </div>
</div>
