<main class='w-3/5 mt-4'>
  <div class="docs-container">
    {{yield}}

    <div class="mt-16 mb-8">
      <a href={{editCurrentPageUrl}}
        class='transition text-black opacity-50 text-sm
        hover:opacity-75 no-underline border-b hover:border-black'>
        Edit this page
      </a>
    </div>

  </div>

  <div class="my-8 flex">
    <div class="w-1/5">
      {{#if docsRoutes.previousRoute}}
        {{#link-to params=docsRoutes.previousRoute
          class='bg-grey-darkest hover:bg-black text-white
            py-2 px-4 no-underline flex items-center justify-begin'}}
          {{svg-jar 'left-arrow' width=24 height=16}}
          Previous
        {{/link-to}}
      {{/if}}
    </div>

    <div class="w-1/5 ml-auto">
      {{#if docsRoutes.nextRoute}}
        {{#link-to params=docsRoutes.nextRoute
          class='bg-grey-darkest hover:bg-black text-white
            py-2 px-4 no-underline flex items-center justify-end'}}
          Next
          {{svg-jar 'right-arrow' height=16 width=16}}
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</main>
