<main class='w-3/5 mt-6'>
  <div class="docs-container">
    {{yield}}

    <div class="mt-16 mb-8">
      <a href={{editCurrentPageUrl}}
        class='transition text-black opacity-50 text-sm
        hover:opacity-75 no-underline border-b border-grey hover:border-black'>
        Edit this page
      </a>
    </div>

  </div>

  <div class="docs-container">
    <div class="my-16 border-t border-grey-light pt-4 flex">
      <div class="w-1/2">
        {{#if docsRoutes.previous}}
          <div class='text-sm text-grey-dark'>
            Previous
          </div>
          {{#link-to params=docsRoutes.previous.route
            class='text-black text-2xl font-light no-underline
            border-b border-grey hover:border-black transition'}}
            {{docsRoutes.previous.label}}
          {{/link-to}}
        {{/if}}
      </div>

      <div class="w-1/2 text-right">
        {{#if docsRoutes.next}}
          <div class='text-sm text-grey-dark'>
            Next
          </div>
          {{#link-to params=docsRoutes.next.route
            class='text-black text-2xl font-light no-underline
            border-b border-grey hover:border-black transition'}}
            {{docsRoutes.next.label}}
          {{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
</main>
