// BEGIN-SNIPPET docs-logo-ember-styles
.my-ember-addon-logo {
  background: #333;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding: 20px;
}
// END-SNIPPET

// BEGIN-SNIPPET docs-logo-ember-cli-styles
.my-ember-cli-addon-logo {
  background: #C43229;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding: 20px;
}
// END-SNIPPET

// BEGIN-SNIPPET docs-logo-ember-data-styles
.my-ember-data-addon-logo {
  background: #422;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding: 20px;
}
// END-SNIPPET
