<h1>Docs Logo</h1>

<p>A white SVG logo that fills its container.</p>

{{#docs-demo as |demo|}}
  {{#demo.example data-test-id='docs-logo'}}
  {{!-- BEGIN-SNIPPET docs-logo --}}
    <div style='background: #333; width: 50%; height: 50%; margin: 0 auto; padding: 20px;'>
      {{docs-logo logo='ember'}}
    </div>
  {{!-- END-SNIPPET --}}
  {{/demo.example}}

  {{demo.snippet 'docs-logo.hbs'}}
{{/docs-demo}}

<p>The Ember CLI logo is also available.</p>

{{#docs-demo as |demo|}}
  {{#demo.example data-test-id='docs-logo'}}
  {{!-- BEGIN-SNIPPET docs-logo --}}
    <div style='background: #C43229; width: 50%; height: 50%; margin: 0 auto; padding: 20px;'>
      {{docs-logo logo='ember-cli'}}
    </div>
  {{!-- END-SNIPPET --}}
  {{/demo.example}}

  {{demo.snippet 'docs-logo.hbs'}}
{{/docs-demo}}
