<h1>Docs Hero</h1>

<p>This component helps you quickly get a hero section on your addon's homepage. The hero on the homepage of this site is an example.</p>

{{#docs-demo as |demo|}}
  {{#demo.example name='docs-hero'}}
    {{docs-hero
      logo='ember'
      slim-heading='Super'
      strong-heading='Addon'
      byline='The best addon ever. Now playing in theaters.'}}
  {{/demo.example}}

  {{demo.snippet 'docs-hero.hbs'}}
{{/docs-demo}}
