@import './docs-demo/x-example';
@import './docs-demo/x-snippet';

.docs-demo {
  margin-bottom: 40px;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  overflow: hidden;
  // padding: 17px;

  &__snippets {
    padding: -17px;
  }

  &__snippets-nav {
    background: $code-title-background-color;
    padding: 12px 16px;
    font-weight: bold;
  }

  &__snippets-nav-item {
    color: #AAA;
    padding-right: 20px;
    font-size: 14px;
    text-decoration: none;

    &:focus {
      color: #AAA;
    }

    &:hover,
    &--active,
    &--active:focus {
      color: #444;
    }
  }

  &__live-editor {
    &, &:focus pre {
      background-color: transparent;
      box-shadow: 0px 0px 3px 3px rgba(0,0,0,.1) inset;
      padding: 12px;
    }
  }
}
