@import './docs-viewer/x-main';
@import './docs-viewer/x-nav-item';
@import './docs-viewer/x-nav-list';
@import './docs-viewer/x-nav';
@import './docs-viewer/x-search';

body.docs-viewer--showing > [class="ember-view"] {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.docs-viewer {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;

  &__main {
    flex: 1;
    overflow: scroll;
  }
}
