@import 'normalize';
@import 'pod-styles';

body {
  font-family: 'helvetica neue', helvetica, sans-serif;
  color: #333;
  line-height: 1.7;
}

html,
body,
body > .ember-view {
  height: 100%;
}

.docs-container {
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  &--fluid {
    max-width: none;
  }
}
.docs-section {
  margin-top: 50px;
  width: 720px;
  position: relative;
}
.docs-md {
  h2 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.015em
  }
  p {
    font-size: 17px;
    letter-spacing: -0.021em;
  }
  li {
    font-size: 17px;
    letter-spacing: -0.021em;
  }
  aside {
    font-size: small;
    width: 180px;
    position: absolute;
    left: 780px;
    line-height: 1.4;
  }
  a {
    text-decoration: none;
    color: #2196f3;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
.docs__fr {
  float: right;
}
.docs__dn {
  display: none;
}
.docs__center {
  margin-left: auto;
  margin-right: auto;
}
.docs-viewer {
  display: flex;
  height: 100%;

  &__nav {
    background-color: #fafafa;
    width: 300px;
    border-right: 1px solid #eee;
    font-size: 14px;
  }
  &__nav-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #364149;

    &:hover,
    &--active {
      background-color: #e3e6e8;
    }

    &--active {
      border-right: 6px solid #5ab6ff;
    }
  }
  &__main {
    flex: 1;
    overflow: scroll;
  }
}
