// Global settings
$site-container: 1400px;

@import 'tailwind';
@import 'pod-styles.scss';
@import 'syntax';

// Figure out how to do this in tailwind
.docs-fill-current {
  &, & * {
    fill: currentColor;
  }
}

* {
  box-sizing: border-box;
}

html {
  @extend .docs-min-h-screen;
  @extend .docs-flex;
  @extend .docs-flex-col;
}

body {
  @extend .docs-antialiased;
  @extend .docs-font-sans;
  @extend .docs-text-base;
  @extend .docs-leading-normal;
  @extend .docs-text-grey-darkest;
  @extend .docs-bg-brand;

  @extend .docs-flex-1;
  @extend .docs-flex;
  @extend .docs-flex-col;
}

body > .ember-view {
  @extend .docs-flex-1;
  @extend .docs-flex;
  @extend .docs-flex-col;

  @extend .docs-mt-1;
  @extend .docs-bg-white;
}

pre {
  margin: 0;
}

svg {
  fill: currentColor;
}

.docs-transition {
  transition: all 0.15s;
}

h1 > .heading-anchor:before,
h2 > .heading-anchor:before,
h3 > .heading-anchor:before {
  content: '\B6';
  cursor: pointer;
  display: block;
  float: left;
  visibility: hidden;

  color: #aaa;
}

h1 > .heading-anchor:hover:before,
h2 > .heading-anchor:hover:before,
h3 > .heading-anchor:hover:before {
  visibility: visible;
}

h1 > a:before {
  font-size: 0.7em;
  width: 0.7em;
  padding: 0.2em 0;
  margin-left: -0.9em;
}

h2 > a:before {
  font-size: 0.85em;
  width: 0.8em;
  padding: 0.1em 0em;
  margin-left: -0.9em;
}

h3 > a:before {
  font-size: 1em;
  width: 0em;
  margin-left: -0.9em;
}
