// @import 'tailwind';
@import 'syntax';
@import 'pod-styles.scss';

// Figure out how to do this in tailwind
.fill-current {
  &, & * {
    fill: currentColor;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

pre {
  margin: 0;
}

svg {
  fill: currentColor;
}

.transition {
  transition: all 0.15s;
}

// get this if we upgrade tailwind
.sticky {
  position: sticky;
}

.ember-modal-dialog {
  z-index: 10;
}
