.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: inherit;
}

.hljs-comment,
.hljs-quote {
  color: #8795A1;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #333;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #8795A1;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}


/* My customizations*/
.hljs-tag {
  .hljs-name {
    color: #22863a;
  }
  .hljs-attr {
    color: #6f42c1;
  }
}
.hljs-template-variable {
  color: #005cc5;
}
.hljs-template-tag {
  color: #005cc5;

  .hljs-attr {
    color: #e36209;
  }
}

.hljs-string {
  color: #032f62;
}
.hljs-name {
  color: #005cc5;
}
