body.docs-viewer--showing > .ember-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.docs-viewer {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;

  @media screen and (max-width: $break-small) {
    flex-direction: column;
    height: auto;
  }

  &__main {
    flex: 1;
    overflow: scroll;
  }
}
