<div class="md:docs-flex docs-w-full">
  {{yield (hash
    nav=(component "docs-viewer/x-nav")
    main=(component "docs-viewer/x-main" onReindex=(action (mut pageIndex)))
  )}}

  {{docs-viewer/x-current-page-index pageIndex=pageIndex}}
</div>
