<div class="docs-container lg:ad-flex ad-w-full ad-mt-4">
  {{yield (hash
    nav=(component 'docs-viewer/x-nav')
    main=(component 'docs-viewer/x-main' onReindex=(action (mut pageIndex)))
  )}}

  {{docs-viewer/x-page-index pageIndex=pageIndex}}
</div>
