/*
  We use CSS Custom Properties so addons can customize their brand theme, but we need to provide a fallback for browsers that don't support them yet (IE). This is the way we do it.

  If we get access to the PostCSS pipeline in the future we could use a plugin like this: https://github.com/postcss/postcss-custom-properties
*/
.docs-bg-brand {
  background-color: #E04E39 !important;
  @apply docs-bg-brand-var !important;
}
.hover\:docs-bg-brand:hover {
  background-color: #E04E39 !important;
  @apply docs-bg-brand-var !important;
}
.focus\:docs-bg-brand:focus {
  background-color: #E04E39 !important;
  @apply docs-bg-brand-var !important;
}

.docs-text-brand {
  color: #E04E39 !important;
  @apply docs-text-brand-var !important;
}
.hover\:docs-text-brand:hover {
  color: #E04E39 !important;
  @apply docs-text-brand-var !important;
}
.focus\:docs-text-brand:focus {
  color: #E04E39 !important;
  @apply docs-text-brand-var !important;
}

.docs-border-brand {
  border-color: #E04E39 !important;
  @apply docs-border-brand-var !important;
}
.hover\:docs-border-brand:hover {
  border-color: #E04E39 !important;
  @apply docs-border-brand-var !important;
}
.focus\:docs-border-brand:focus {
  border-color: #E04E39 !important;
  @apply docs-border-brand-var !important;
}
