.docs__keyboard-key {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

.docs-fullscreen-modal {
  .ember-modal-overlay {
    z-index: 50;
    background: rgba(#1b1f23, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .ember-modal-dialog {
    background: white;
    width: 600px;
    border-radius: 3px;
    box-shadow: 0 0 14px rgba(0,0,0,.24), 0 14px 28px rgba(0,0,0,.48);
    height: auto;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  &__header {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
  }
  &__close-button {
    margin-left: auto;
    text-decoration: none;
    color: #999;
    font-size: 26px;
    line-height: 1;

    &:hover {
      color: #333;
    }
  }
  &__body {
    padding: 10px 20px;
    margin-bottom: 30px;
  }
  &__title {
    margin: 0;
  }
  &__subtitle {
    margin: 0;
    margin-top: 20px;
  }
}

.docs-keyboard-shortcut-modal {
  & td,
  & th {
    padding-right: 10px;
  }
  & td:first-child,
  & th:first-child {
    text-align: right;
  }
  & td:nth-child(2),
  & th:nth-child(2) {
    text-align: left;
  }
}
