<div class="ad-my-8">
  {{#docs-snippet name="docs-snippet-title-example.js" title="app/components/my-component.js"}}
    import Component from '@ember/component';
    export default Component.extend({
      // ...
    });
  {{/docs-snippet}}
</div>
