{{! template-lint-disable attribute-indentation }}
<div class='docs-my-8'>
  {{#docs-snippet name='docs-snippet-title-example.hbs' title='app/components/my-component.js' showCopy=false language='javascript'}}
    import Component from '@ember/component';
    export default Component.extend({
      // ...
    });
  {{/docs-snippet}}
</div>
