// BEGIN-SNIPPET docs-logo-ember-styles.scss
.my-ember-addon-logo {
  background: #333;
  color: white;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding: 20px;
}
// END-SNIPPET

// BEGIN-SNIPPET docs-logo-ember-cli-styles.scss
.my-ember-cli-addon-logo {
  background: #F44336;
  color: white;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding: 20px;
}
// END-SNIPPET

// BEGIN-SNIPPET docs-logo-ember-data-styles.scss
.my-ember-data-addon-logo {
  background: #2196F3;
  color: white;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  padding: 20px;
}
// END-SNIPPET