{{docs-navbar logo='ember-cli' name='AddonDocs'}}

{{docs-hero
  logo='ember-cli'
  slim-heading='Addon'
  strong-heading='Docs'
  byline='Patterns and primitives to help you document your addon'}}

<div class='docs-container docs-md'>
  <section class='docs-section'>
    <h2 class='docs-dummy__header'>
      {{svg-jar 'logo-horizontal' class='docs-dummy__header-icon' width=40 height=16}}
      Motivation
    </h2>

    <aside>Looking for the quickstart? {{link-to 'Click here' 'docs.quickstart'}}.</aside>
    <p>Documenting software libraries has gotten easier. We have nicely-formatted README.md files, the ability to host custom sites for free on GitHub Pages, and even dedicated tools like <a href="#">GitBook</a> and <a href="#">ReadTheDocs</a>. But even though these tools have come a long way, modern developers have high expectations, and library authors can quickly find themselves juggling more tasks than they can manage.</p>
    <p>Ember addons occupy a unique space here. Besides everything that's expected of any modern JavaScript library, there's even more that goes into authoring a library that plays nicely with an ecosystem as mature as Ember's. And too often addon authors with limited time must choose between being a better community citizen, or focusing on the core problem their library was created to solve in the first place.</p>
    <p>These days, a well-maintained Ember addon should</p>
    <ul>
      <li><strong>Provide interactive demos of their components</strong> in the context of an Ember app</li>
      <li><strong>Show current <em>and versioned</em> guides,</strong> ideally whose content is verified by automated tests</li>
      <li><strong>Show current <em>and versioned</em> API documentation</strong> derived from structured comments in source code</li>
      <li><strong>Have excellent test coverage</strong> across a matrix of Ember and Ember CLI versions</li>
      <li><strong>Make it easy for contributors to correct documentation errors</strong> in addition to submitting code fixes</li>
    </ul>
    <p>Looking at the available tools for authoring docs, none proved satisfactory for all these needs. This is why addons deserve their own solution.</p>

    <div class="docs-dummy__btn-area">
      {{#link-to 'docs' class='docs-dummy__btn'}}
        Get started
      {{/link-to}}
    </div>
  </section>

</div>
