{{docs-hero
  logo='ember-cli'
  slimHeading='Addon'
  strongHeading='Docs'
  byline='Easy, beautiful docs for your Ember addon'}}

<div class='docs-container docs-md'>
  <section class='ad-max-w-md ad-mx-auto ad-pb-8'>
    {{index/index-content}}

    <div class="ad-my-16 ad-text-right">
      {{#link-to 'docs' class='ad-bg-grey-darkest hover:ad-bg-black ad-text-white ad-py-2 ad-px-4 ad-no-underline ad-rounded'}}
        Read the docs →
      {{/link-to}}
    </div>
  </section>
</div>
