{{docs-hero
  logo='ember-cli'
  slimHeading='Addon'
  strongHeading='Docs'
  byline='Easy, beautiful docs for your Ember addon'}}

<div class='docs-container docs-md'>
  <section class='w-3/5 mx-auto mb-8'>
    {{index/index-content}}
  </section>
</div>
