{{docs-navbar}}

{{docs-hero
  logo='ember-cli'
  slimHeading='Addon'
  strongHeading='Docs'
  byline='Patterns and primitives to help you document your addon'}}

<div class='doc-container docs-md'>
  <section class='docs-section'>
    {{index/index-content}}
  </section>
</div>
