{{#docs-navbar logo='ember-cli' name='AddonDocs' as |nav|}}
  {{#nav.link 'sandbox'}}
    Sandbox
  {{/nav.link}}
{{/docs-navbar}}

{{docs-hero
  logo='ember-cli'
  slimHeading='Addon'
  strongHeading='Docs'
  byline='Easy, beautiful docs for your Ember addon'}}

<div class='doc-container docs-md'>
  <section class='docs-section'>
    {{index/index-content}}
  </section>
</div>
