<DocsDemo as |demo|>
  <demo.example @name="docs-logo-ember.hbs">
    <div class="my-ember-addon-logo">
      {{docs-logo}}
    </div>
  </demo.example>

  <demo.snippet @name="docs-logo-ember.hbs" />
  <demo.snippet @name="docs-logo-ember-styles.scss" />
</DocsDemo>