<div class="import-path docs-mb-6" data-test-import-path ...attributes>
  <pre class="docs-md__code docs-whitespace-no-wrap">
    <span class="hljs-keyword">
      import
    </span>

    {{#if (eq @item.exportType "default")}}
      {{@item.name}}
    {{else}}
      { {{@item.name}} }
    {{/if}}

    <span class="hljs-keyword">
      from
    </span>
    <span class="hljs-string">'{{@item.file}}'</span>;
  </pre>
</div>