<div class="class-contents">
  {{api/x-index
    sections=(hash
      classes=module.classes
      components=module.components
      functions=module.functions
      helpers=module.helpers
      variables=module.variables
    )
  }}

  {{api/x-sections
    sections=(hash
      classes=module.classes
      components=module.components
      functions=module.functions
      helpers=module.helpers
      variables=module.variables
    )
  }}
</div>
