<div class="flex flex-row-reverse">
  {{api/x-index
    sections=(hash
      classes=module.classes
      components=module.components
      functions=module.functions
      variables=module.variables
    )
  }}

  {{api/x-sections
    sections=(hash
      classes=module.classes
      components=module.components
      functions=module.functions
      variables=module.variables
    )
  }}
</div>
