<section class='mt4 docs-md'>
  <h2>To document:</h2>
  <ul>
    <li>How it supports older versions of sites. Want to be able to migrate Mirage's docs, Liquid Fire's docs etc.</li>
    <li>CSS convnetion. All our css classes are prefixed with <code>docs</code>. Components look like this: <code>docs-hero</code>, utilities like this <code>docs__center</code>. Pick and choose what you'd like. We want addon authors to be able to make their own unique sites.</li>
    <li>Explain the reasoning around docs layout: left-hand nav, etc.</li>
  </ul>
</section>
