.docs-hero {
  background-color: #2D2D2D;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;

  &__logo {
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    height: 35px;
    opacity: 0.2;

    svg {
      display: block;
      width: auto;
    }
  }

  &__heading {
    line-height: 1;
    font-size: 64px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__slim-heading {
    display: inline-block;
    font-weight: 100;
  }

  &__strong-heading {
    display: inline-block;
  }

  &__byline {
    margin-top: 0;
    font-size: 22px;
    opacity: 0.65;
  }
}
