.docs-hero {
  background-color: #2D2D2D;
  color: white;
  padding-top: 40px;
  padding-bottom: 50px;

  &__logo {
    display: block;
    width: 130px;
    opacity: 0.20;
  }

  &__heading {
    line-height: 1;
    font-size: 64px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    overflow: hidden;
  }

  &__slim-heading {
    display: inline-block;
    font-weight: 100;
  }

  &__strong-heading {
    display: inline-block;
  }

  &__byline {
    margin-top: 0;
    color: rgba(255,255,255,0.9);
    font-size: 21px;
    font-weight: 200;
  }
}
