<div class='docs-container'>
  <h1 class='docs-hero__heading'>
    {{#if logo}}
      <span class='docs-hero__logo'>
        {{docs-logo logo=logo}}
      </span>
    {{/if}}

    <span class='docs-hero__slim-heading'>{{slim-heading}}</span><span class='docs-hero__strong-heading'>{{strong-heading}}</span>
  </h1>
  <p class='docs-hero__byline'>{{byline}}</p>
</div>
