<div class="docs-bg-brand docs-w-full DocsHero-background">
</div>

<div class='
  docs-text-center docs-bg-white docs-shadow-lg docs-w-90%
  docs-mx-auto docs-z-50 docs--mt-20 docs-rounded
  docs-px-4 docs-py-6 docs-max-w-sm
'>
  <h1 class='docs-font-title docs-font-normal docs-text-5xl md:docs-text-jumbo docs-leading-none'>
    <span class="docs-block docs-text-base">
      Ember CLI
    </span>

    {{!-- {{#if logo}}
      <div class='md:docs--mb-1 docs--mt-4 md:docs--mt-8 docs--mb-2'>
        <span class='docs-inline-block docs-h-4'>
          {{docs-logo logo=logo}}
        </span>
      </div>
    {{/if}} --}}

    {{heading}}
  </h1>

  <p class='docs-mt-3 docs-mb-2 docs-leading-small docs-max-w-measure-byline docs-mx-auto docs-text-xs docs-font-medium docs-tracking-tight'>
    {{byline}}
  </p>

  {{yield}}
</div>
