<div class='
  docs-bg-brand docs-text-white
  docs-px-4 docs-py-16
'>
  <div class="docs-max-w-sm docs-mx-auto">
    <h1 class='
      docs-font-title docs-font-normal docs-text-jumbo md:docs-text-jumbo
      docs-leading-none docs-tracking-tight
    '>
      {{#if prefix}}
        <span class="docs-block docs-text-3xl">
          {{prefix}}
        </span>
      {{/if}}

      {{heading}}
    </h1>

    <p class='
      docs-mt-4 docs-mb-2 docs-leading-small docs-mx-auto docs-tracking-tight docs-text-lg
    '>
      {{byline}}
    </p>

    {{yield}}
  </div>
</div>
