<h1>{{component.name}}</h1>

{{! wrapping in a div seems to work around https://github.com/ember-learn/ember-cli-addon-docs/issues/7 }}
<div>{{{component.description}}}</div>

{{#if hasContents}}
  <div class="class-contents">
    {{api/x-index
      sections=(hash
        constructors=component.constructors
        yields=component.yields
        arguments=component.arguments
        fields=component.fields
        accessors=component.accessors
        methods=component.methods
      )
    }}

    {{api/x-sections
      sections=(hash
        constructors=component.constructors
        yields=component.yields
        arguments=component.arguments
        fields=component.fields
        accessors=component.accessors
        methods=component.methods
      )
    }}
  </div>
{{/if}}
