<h1 class='docs-h1' data-test-component-name>{{component.name}}</h1>

{{! wrapping in a div seems to work around https://github.com/ember-learn/ember-cli-addon-docs/issues/7 }}
<div data-test-component-name>{{{component.description}}}</div>

{{#if hasContents}}
  <div class="flex flex-row-reverse">
    {{api/x-index
      options=(hash
        inherited=(hash shouldShow=component.hasInherited value=showInherited)
        internal=(hash shouldShow=component.hasInternal value=showInternal)
        protected=(hash shouldShow=component.hasProtected value=showProtected)
        private=(hash shouldShow=component.hasPrivate value=showPrivate)
        deprecated=(hash shouldShow=component.hasDeprecated value=showDeprecated)
      )

      onOptionToggle=(action 'updateFilter')

      sections=(hash
        constructors=constructors
        yields=yields
        arguments=arguments
        fields=fields
        accessors=accessors
        methods=methods
      )
    }}

    {{api/x-sections
      sections=(hash
        constructors=constructors
        yields=yields
        arguments=arguments
        fields=fields
        accessors=accessors
        methods=methods
      )
    }}
  </div>
{{/if}}
