{{#if title}}
  <div class='docs-snippet__title'>{{title}}</div>
{{/if}}

<div class='docs-snippet' data-test-id={{name}}>
  {{#if showCopy}}
    {{#copy-button
      clipboardText=snippetText
      title='copy to clipboard'
    }}
      Copy
    {{/copy-button}}
  {{/if}}

  {{code-snippet name=(if hasBlock (concat name '.hbs') name) language=language}}
</div>
