{{#if title}}
  <div class='docs-bg-grey-lighter docs-text-sm docs-text-grey-darkest
    docs-font-medium docs-py-2 docs-px-4'>
    {{title}}
  </div>
{{/if}}

<div class='docs-text-sm docs-p-4 docs-bg-grey-lightest docs-relative' data-test-id={{name}}>
  {{#if showCopy}}
    {{#copy-button
      clipboardText=snippetText
      title='copy to clipboard'
      class='
        docs-absolute docs-pin-t docs-pin-r docs-bg-transparent hover:docs-bg-transparent
        docs-border-none docs-opacity-50 hover:docs-opacity-100 docs-p-3
      '
    }}
      Copy
    {{/copy-button}}
  {{/if}}

  {{code-snippet name=name language=language}}
</div>
