{{#if title}}
  <div class='bg-grey-lighter text-sm text-grey-darkest
    font-medium py-2 px-4'>
    {{title}}
  </div>
{{/if}}

<div class='text-sm p-4 bg-grey-lightest relative' data-test-id={{name}}>
  {{#if showCopy}}
    {{#copy-button
      clipboardText=snippetText
      title='copy to clipboard'
      class='
        absolute pin-t pin-r bg-transparent hover:bg-transparent
        border-none opacity-50 hover:opacity-100 p-3
      '
    }}
      Copy
    {{/copy-button}}
  {{/if}}

  {{code-snippet name=name language=language}}
</div>
