{{#if title}}
  <div class='ad-bg-grey-lighter ad-text-sm ad-text-grey-darkest
    ad-font-medium ad-py-2 ad-px-4'>
    {{title}}
  </div>
{{/if}}

<div class='ad-text-sm ad-p-4 ad-bg-grey-lightest ad-relative' data-test-id={{name}}>
  {{#if showCopy}}
    {{#copy-button
      clipboardText=snippetText
      title='copy to clipboard'
      class='
        ad-absolute ad-pin-t ad-pin-r ad-bg-transparent hover:ad-bg-transparent
        ad-border-none ad-opacity-50 hover:ad-opacity-100 ad-p-3
      '
    }}
      Copy
    {{/copy-button}}
  {{/if}}

  {{code-snippet name=name language=language}}
</div>
