<div class='docs-viewer'>

  <nav class='docs-viewer__nav'>
    {{#link-to 'docs.index' class='docs-viewer__nav-link' activeClass='docs-viewer__nav-link--active'}}
      Home
    {{/link-to}}
    {{#link-to 'docs.to-do' class='docs-viewer__nav-link' activeClass='docs-viewer__nav-link--active'}}
      To do
    {{/link-to}}
    {{#link-to 'docs.api' class='docs-viewer__nav-link' activeClass='docs-viewer__nav-link--active'}}
      API Reference
    {{/link-to}}
  </nav>

  <main class='docs-viewer__main'>
    <div class="docs-container docs__center docs-md">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </main>

</div>
