.item-params {
  width: 100%;

  td {
    padding-right: 1em;
  }

  td:last-of-type {
    width: 99%;
    padding-right: 0;
  }
}

.item-params__param-name,
.item-params__param-type {
  font-family: Monaco, monospace;
}

.item-params__param-name {
  font-weight: bold;
}
