{{#if shouldDisplayParams}}
  <h4 class="mb-2 text-grey font-bold tracking-wide uppercase text-xs">
    Params
  </h4>

  <table class="item-params mb-6" data-test-item-params>
    <tbody>
      {{#each params as |param|}}
        <tr data-test-item-param>
          <td><span class="item-params__param-name">{{param.name}}</span></td>
          <td><span class="item-params__param-type">{{param.type}}</span></td>
          <td>{{param.description}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
