name: CI/CD

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  NODE_VERSION: 16

jobs:
  lint:
    name: Lint files
    runs-on: ubuntu-latest
    timeout-minutes: 7
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint

  test-addon-floating:
    name: Test addon (floating dependencies)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        script-name:
          - 'ember'
          - 'node'
          - 'test-apps'
    timeout-minutes: 7
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --no-lockfile --non-interactive

      - name: Test
        run: yarn test:${{ matrix.script-name }}

  test-addon-locked:
    name: Test addon (locked dependencies)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        script-name:
          - 'ember'
          - 'node'
          - 'test-apps'
    timeout-minutes: 7
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Test
        run: yarn test:${{ matrix.script-name }}

  test-compatibility:
    name: Test compatibility
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - 'ember-lts-4.4'
          - 'ember-lts-4.8'
          - 'ember-release'
          - 'ember-beta'
          - 'ember-canary'
          - 'embroider-safe'
          # - 'embroider-optimized'
    timeout-minutes: 7
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Test
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }}

  deploy-app:
    name: Deploy app
    needs: [lint, test-addon-floating, test-addon-locked, test-compatibility]
    runs-on: ubuntu-latest
    timeout-minutes: 7
    # Only run on pushes to the default branch
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v3

      - name: Set up Git user
        run: |
          # Set up a Git user for committing
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@users.noreply.github.com"

          # Copy the Git Auth from the local config
          git config --global "http.https://github.com/.extraheader" \
            "$(git config --local --get http.https://github.com/.extraheader)"

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Deploy
        run: yarn deploy
